# Wgląd w strukturę bazy danych

In [1]:
try:

    def connect():
        import psycopg2
        return psycopg2.connect(
            host="localhost",
            database="musicbrainz",
            user="postgres",
            password="123"
        )
    
    CONNECTION = connect()

    print("Połączono z bazą danych")

    def SQL(q):
        from pandas import read_sql_query
        import warnings
        with warnings.catch_warnings():
            warnings.filterwarnings('ignore', category=UserWarning)
            
            # UserWarning: pandas only supports SQLAlchemy connectable 
            # (engine/connection) or database string URI or sqlite3 DBAPI2 connection. 
            # Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
            
            return read_sql_query(q, CONNECTION)
    
except Exception as e:
    print("Nie udało się połączyć z bazą danych. Błąd:", e)

Połączono z bazą danych

## Indeksy

In [2]:
SQL("""--sql

    SELECT
        t.relname AS table_name,
        i.relname AS index_name,
        a.attname AS column_name
    FROM
        pg_class t,
        pg_class i,
        pg_index ix,
        pg_attribute a
    WHERE
        t.oid = ix.indrelid
        AND i.oid = ix.indexrelid
        AND a.attrelid = t.oid
        AND a.attnum = ANY(ix.indkey)
        AND t.relkind = 'r'
    ORDER BY
        t.relname,
        i.relname;
""")

,table_name,index_name,column_name
0,alternative_medium,alternative_medium_idx_alternative_release,alternative_release
1,alternative_medium,alternative_medium_pkey,id
2,alternative_medium_track,alternative_medium_track_pkey,track
3,alternative_medium_track,alternative_medium_track_pkey,alternative_medium
4,alternative_release,alternative_release_idx_artist_credit,artist_credit
...,...,...,...
1675,work_tag_raw,work_tag_raw_pkey,tag
1676,work_tag_raw,work_tag_raw_pkey,work
1677,work_tag_raw,work_tag_raw_pkey,editor
1678,work_type,work_type_idx_gid,gid
1679,work_type,work_type_pkey,id